header {
    background-image: linear-gradient(to right, #0D6EFD, rgb(41, 41, 99));
}

.input-group {
    display: block;
}

.form-control {
    width: 100% !important;
}

.form-input {
    margin-bottom: 10px;
}

button {
    width: 100%;
}


ul {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 0px;
    margin-left: 0px;
    padding: 10px;
}

li {
    line-height: 200%;
} 

.current-city {
    font-size:x-large;
    font-weight: bold;
}

li img {
    width: 50px;
}

.col {
    margin: 10px;
    background-color: rgb(41, 41, 99);
    color: white;
}

#history button {
    margin-bottom: 10px;
}